<ul class="nav navbar-nav navbar-right">
	<li><a ui-sref="home"> <span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
</ul>

<div ng-controller="corporateController" class="tabbable">
	<ul class="nav nav-pills" ng-init = "tab = 1">
	  <li ng-class="{active: tab === 1 }"><a ng-click="tab = 1" ui-sref=".corphome">Home</a></li>
	  <li ng-class="{active: tab === 2 }"><a ng-click="tab = 2" ui-sref=".addoffer">Add Offer</a></li>
	  <li ng-class="{active: tab === 3 }"><a ng-click="tab = 3" ui-sref=".viewoffer">View Offers</a></li>
	</ul>
</div>

<div class="main">

	<div ui-view>
		<div class="jumbotron text-center">
			<h1>Hello World!!</h1>
		</div>
	</div>

</div>